<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
  <appSettings>
    <!--Game Title-->
    <add key="GameTitle" value="Kingdoms of Etrea MUD" />
    <!--Server listener settings - listen on all IPv4 addresses on TCP/12345 by default -->
    <add key="ListenerIP" value="0.0.0.0" />
    <add key="ListenerPort" value="12345" />
    <add key="APIUrl" value="http://localhost:5000" />
    <!--Important Room IDs-->
    <add key="LimboRoom" value="0" />
    <add key="DonationRoom" value="212" />
    <add key="StartRoom" value="100" />
    <!--Backup settings-->
    <add key="RetainBackupCount" value="10" />
    <!--Timer tick intervals in seconds-->
    <add key="ZoneTick" value="600" />
    <add key="NPCTick" value="120" />
    <add key="CombatTick" value="6" />
    <add key="AutosaveTick" value="180" />
    <add key="BuffTick" value="60" />
    <add key="BackupTick" value="3600" />
    <!--Misc Settings-->
    <add key="PrettifyBeforeSend" value="false" /> <!--Automatically parse messages so lines are wrapped at 80 characters (true), or leave to MUD client (false)-->
    <add key="MaxIdleTime" value="1200" /> <!--Max number of seconds a player can be idle before being automatically disconnected-->
    <add key="DisconnectIdleImmortals" value="false" /> <!--Whether Immortal characters that meet the idle timer are disconnected (true) or not (false)-->
    <add key="TickZonesOnStartup" value ="false"/> <!--Whether to perform a Tick on all Zones when the MUD starts (true) or wait on the timer (false)-->
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>