<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
  <appSettings>
    <!-- Server listener settings -->
    <add key="listenerIP" value="0.0.0.0"/>   <!-- Listen on all available IP addresses by default -->
    <add key="listenPort" value="12345"/>     <!-- Listen on TCP/12345 by default -->
    <!-- Important room IDs -->
    <add key="limboRID" value="0"/>          <!-- RID of Limbo, default = 0, where dead players are teleported to -->
    <add key="donationRoomRID" value="150"/>  <!-- RID of the donation room for donated items, default 150 -->
    <add key="playerStartRoom" value="100"/>  <!-- RID of the start room for new players, default 100 -->
    <add key="backupsRetained" value="10"/>   <!-- How many backups of the world and player databases to retain -->
    <!-- Pulse times in seconds -->
    <add key="zonePulse" value="600"/>
    <add key="npcPulse" value="120"/>
    <add key="combatPulse" value="6"/>
    <add key="autoSavePulse" value="180"/>
    <add key="buffPulse" value="60"/>
    <add key="backupPulse" value="3600"/>
    <!-- Idle session disconnect options -->
    <add key="maxIdleTickCount" value="1200"/>    <!-- Max number of seconds a player can be idle for before being disconnected -->
    <add key="disconIdleImms" value="false"/>   <!-- Whether Immortal players are disconnected for being idle -->
  </appSettings>
</configuration>
